@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #2a6476;
    --secondary: #252626;
    --tertiary: #787878;
    --tertiary-dark: #3f3f3f;
  }